<div class="menu__container">
  <div class="menu__logo">
    <img src="/assets/ps-logo.png" alt="Playstation logo" />
  </div>
  <div class="menu__item">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/andrehorman/" target="_blank">LINKEDIN</a>
      </li>
      <li>
        <a href="https://github.com/ANDREHORMAN1994" target="_blank">GITHUB</a>
      </li>
      <li>
        <a href="https://portfolio-andre-horman.vercel.app/" target="_blank">PORTFOLIO</a>
      </li>
    </ul>
  </div>
</div>
